
<div class="top">
	<div class="weui-cell">
        <div class="weui-cell__bd">
          <p>Emp-Admin<i class="fa fa-bars"></i></p>
        </div>
        <div class="weui-cell__ft layui-nav">
        	<li class="layui-nav-item">
		        <a href="javascript:;">
		          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
		                    sufihi
		        </a>
		        <dl class="layui-nav-child">
		          <dd><a href="javascript:;"><i class="icon iconfont icon-user"></i>用户资料</a></dd>
		          <dd><a href="javascript:;"><i class="icon iconfont icon-shezhi"></i>个人设置</a></dd>
		          <dd><a href="javascript:;"><i class="icon iconfont icon-xiaoxi"></i>消息</a></dd>
		          <dd (click)="logout()"><a href="javascript:;"><i class="icon iconfont icon-icon" ></i>退出</a></dd>
		        </dl>
		    </li>
        </div>
  	</div>
</div>
	
