
<div class="user " [@flyIn]="flyIn">
	<h4>组织结构</h4>
	<div class="userleft">
		<p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>
	</div>
	<div class="userright">
		 <div class="panel-body">
		    	<label for="user">名称：</label>
		    	<input text="text" name="user" id="user" class="form-control" [(ngModel)]="filesName"/>
		    	<label for="pwd">代码：</label>
		    	<input type="text" name="pwd" id="pwd" class="form-control" [(ngModel)]="filesCode"/>
		    	<div>
					<input type="button" value="编辑"  class="btn btn-primary pull-left"/>
					<input type="button" value="新建"class="btn btn-danger pull-left"/>
					<input type="button" value="删除"class="btn btn-warm pull-left"/>
		    	</div>
		  </div>
	</div>
</div>





