<!--第一种方法-->
<div [style.height.px]="1000">
		<div>
			<h4></h4>
			<div id="main" style="width: 600px;height:300px;"></div>
		</div>
		<div>
			<div id="main2" style="width: 600px;height:300px;" ></div>
		</div>
		<br />
		<div>
			<h4></h4>
			<div id="main3" style="width: 600px;height:400px;" ></div>
		</div>
</div>




<!--<div [style.height.px]="1000">
		<div>
			<h4></h4>
			<echart id="main" style="width: 600px;height:300px;" [optionType]="option"></echart>
		</div>
		<div>
			<echart id="main2" style="width: 600px;height:300px;" [optionType]="option2"></echart>
		</div>
		<br />
		<div>
			<h4></h4>
			<echart id="main3" style="width: 600px;height:400px;" [optionType]="option3"></echart>
		</div>
</div>-->
